# dependencies
node_modules

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build artifacts
src/hostpathogen/data/hostpathogen.db

# misc
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
.vercel
